#main-header {
 	background: #0f212e;
 	color: white;
  height: 45px;
 	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
 	left: 0; /* Posicionamos la cabecera al lado izquierdo */
 	top: 0; /* Posicionamos la cabecera pegada arriba */
 	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
 }

#logo-header-logo {
 	float: left;
 	padding: 5px 0 0 15px;
 	text-decoration: none;
  height: 40px;
  vertical-align: middle;
 }

#logo-header-text {
 	float: left;
 	text-decoration: none;
  position: relative;
  top: 11px;
  left: 20px;
 }

 #main-footer {
 	background: #0f212e;
 	color: white;
 	text-align: left;
  font-size: 14px;
 	padding: 10px;
 	margin-top: 30px;
  position: fixed; /* Hacemos que el pie tenga una posición fija */
  bottom: 0;
  width: 100%;
 }

.container_main {
  background-color: white;
  padding: 10px;
  padding-top: 40px;
}

.container_less {
  background-color: white;
  padding: 3px;
}

.container_less-2 {
  background-color: white;
  padding: 6px;
}

.container {
  background-color: white;
  padding: 10px;
}
.container-right {
  background-color: white;
  padding: 10px;
  float: right;
}

.column-left{ float: left; width: 3%; }
.column-center{ display: inline-block; width: 35%; }
.column-center-2{ display: inline-block; width: 55%; }
.column-center-3{ display: inline-block; width: 65%; }
.column-center-right{ display: inline-block; width: 97%; }
.column-right{ float: right; width: 62%; }
.column-right-2{ float: right; width: 22%; }
