<!--
author: Jorge Iglesias/Spain/IBM@ES
description: Login page
-->
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/stylesheets/local.css">
  <link rel="stylesheet" href="/stylesheets/carbon-components.min.css">
  <script type="text/javascript" src="/js/carbon/carbon-components.min.js"></script>
  <script type="text/javascript" src="/js/jquery/jquery.js"></script>
  <script type="text/javascript" src="/js/form.js"></script>
  <script type="text/javascript" src="/js/loading.js"></script>
  <script type="text/javascript" src="/js/notifications.js"></script>
  <script type="text/javascript" src="/js/rest.js"></script>
  <script type="text/javascript" src="/js/service.js"></script>

  <script>

  function onLoadPage() {
    // init service
    serviceInit();

    // check errors
    if ('<%= error.message %>' !== '') {
      showNotificationMessage('div_error','','<%= error.message %>');
    }

  }

  function login() {
    // validate required fields
    if (validateForm()) {
      serviceCall('/v1/auth',success,error);
    }
  }

  function createRequest() {
    var data = {};

    data.login = document.getElementById("text-input-user").value;
    data.password = document.getElementById("text-input-pwd").value;

    return data;
  }

  function success(response) {
    var f = document.getElementById("form");
    f.method = 'post';
    f.action = '/v1/page1';
    f.submit();
  }

  function error(response) {
    hideLoading();
    showNotificationMessage('div_error',response.status,response.responseJSON.message);
    $('body').scrollTop(0);
  }

  </script>

</head>

<body onload="onLoadPage();">

  <main id="maincontent">

    <!-- Loading -->
    <div id="loading" style="display:none"></div>

    <!-- Head -->
    <header id="main-header">
      <img id="logo-header-logo" src="/images/newapp-icon.png" alt="Logo"/>
      <h4 id="logo-header-text"><%= app.name %></h4>
    </header>

    <!-- Main container -->
    <div id="main_container" class="container_main">

      <!-- Main form -->
      <div id= "main_form">

        <!-- Left -->
        <div class="column-left">&nbsp;</div>

        <!-- Center -->
        <div class="column-center">

          <!-- Notifications -->
          <div id="notifications" style="display:inline"></div>

          <form id="form" action="" enctype="application/x-www-form-urlencoded" method="post">

            <div class="container"></div>

            <div class="bx--form-item bx--text-input-wrapper">
              <label for="text-input-user" class="bx--label">Login</label>
              <div class="bx--form__helper-text">
                Hi Folks!!!
              </div>
              <div class="bx--text-input__field-wrapper">
                <input id="text-input-user" name="Login" type="text" class="bx--text-input" placeholder="" required>
              </div>
            </div>

            <div class="container"></div>

            <div class="bx--form-item bx--text-input-wrapper">
              <label for="text-input-pwd" class="bx--label">Password</label>
              <div class="bx--text-input__field-wrapper">
                <input id="text-input-pwd" name="Password" type="password" class="bx--text-input" placeholder="" required>
              </div>
            </div>

          </form>

          <div class="container"></div>

          <center>
            <input class="bx--btn bx--btn--primary" value="Login" id="login" type="submit" onclick="javascript:login();">
          </center>

        </div>

        <!-- Right -->
        <div class="column-right">
          <div class="container">
          </div>
        </div>

      </div>
      <!-- Main form -->

    </div>
    <!-- End div main_container -->

  </main>
</body>
</html>
