<!--
author: Jorge Iglesias/Spain/IBM@ES
description: Login page
-->
<html>
<head>
  <title><%= app.name %></title>
  <link rel="stylesheet" href="/stylesheets/local.css">
  <link rel="stylesheet" href="/stylesheets/carbon-components.min.css">
  <script type="text/javascript" src="/js/carbon/carbon-components.min.js"></script>
  <script type="text/javascript" src="/js/jquery/jquery.js"></script>
  <script type="text/javascript" src="/js/form.js"></script>
  <script type="text/javascript" src="/js/loading.js"></script>
  <script type="text/javascript" src="/js/notifications.js"></script>
  <script type="text/javascript" src="/js/rest.js"></script>
  <script type="text/javascript" src="/js/service.js"></script>
  <script type="text/javascript" src="/js/table.js"></script>
  <script>

  function onLoadPage() {
    // init service
    serviceInit();

    // check errors
    if ('<%= error.message %>' !== '') {
      showNotificationMessage('div_error','','<%= error.message %>');
    }

    // set values
     setContentPageValues();
  }

  function setContentPageValues() {
    serviceCall('/v1/data',success,error);
  }

  function refresh() {
    var f = document.getElementById("form");
    f.method = 'post';
    f.action = '/v1/page1';
    f.submit();
  }

  function createRequest() {
    var data = {};
    return data;
  }

  function success(response) {
    hideLoading();
    var storage = response.message;

    addData('hardware_table',["type","size"],storage);
  }

  function error(response) {
    hideLoading();
    showNotificationMessage('div_error',response.status,response.responseJSON.message);
    $('body').scrollTop(0);
  }

  </script>

</head>

<body onload="onLoadPage();">

  <main id="maincontent">

    <!-- Loading -->
    <div id="loading" style="display:none"></div>

    <!-- Head -->
    <header id="main-header">
      <img id="logo-header-logo" src="/images/newapp-icon.png" alt="Logo"/>
      <h4 id="logo-header-text"><%= app.nav.name %></h4>
    </header>

    <!-- Main container -->
    <div id="main_container" class="container_main">

      <!-- Main form -->
      <div id= "main_form">

        <!-- Left -->
        <div class="column-left">&nbsp;</div>

        <!-- Center -->
        <div class="column-center">

          <!-- Notifications -->
          <div id="notifications" style="display:inline"></div>

          <form id="form" action="" enctype="application/x-www-form-urlencoded" method="post">

            <div class="container"></div>

            <table id="hardware_table" class="bx--data-table">
              <thead>
                <tr>
                  <th >
                    <span class="bx--table-header-label">Type</span>
                  </th>
                  <th >
                    <span class="bx--table-header-label">Code</span>
                  </th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>

          </form>

          <div class="container"></div>

          <center>
            <input class="bx--btn bx--btn--primary" value="Refresh" id="refresh" type="submit" onclick="javascript:refresh();">
          </center>

        </div>

        <!-- Right -->
        <div class="column-right">
          <div class="container">
          </div>
        </div>

      </div>
      <!-- Main form -->

    </div>
    <!-- End div main_container -->

  </main>
</body>
</html>
